<template>
  <div id="app">
    <b-row>
      <b-col class="title">
        <h1>HEROS ASSEMBLE</h1>
      </b-col>
    </b-row>
    <b-row>
      <b-col cols="7" class="padding-container">
        <b-row>
          <b-form-group>
            <b-form-input class="hero-search border-style placeholder-search" placeholder="Search"
              v-model="search"></b-form-input>
              <i class="fas fa-search hero-search-icon"></i>
          </b-form-group>
        </b-row>
        <b-row>
          <b-col cols=12 align="left">
            <h1 class="title-results">Results</h1>
          </b-col>
          <b-col class="spacing-coluns"
            v-for="(character, index) in characters"
            :key="index">
            <b-card-group deck class="card-container">
              <b-card class="card-image card-team"
                :img-src="character.thumbnail.path + '.jpg'"
                img-alt="Card image"
                style="border-radius:9px;border-color:transparent;"
                img-top>
                <p class="card-text">{{ character.name }}</p>
                <div
                  @click="addCharacter(character)">
                  <b-button href="#" class="btn-add">
                    ADD TO TEAM
                  </b-button>
                </div>
              </b-card>
            </b-card-group>
          </b-col>
        </b-row>
      </b-col>
      <b-col>
        <b-row>
          <b-form-group class="hero-team-container">
            <b-form-input class="placeholder-search border-style hero-team-search" placeholder="Team Name"></b-form-input>
          </b-form-group>
        </b-row>
        <b-row class="row-card-team">
          <b-col cols=12 align="left">
            <h1 class="title-results">Teams</h1>
          </b-col>
          <b-col cols=12 class="spacing-coluns">
            <b-card-group>
              <div class="col-md-12"
                v-for="(character, index) in listCharacters"
                :key="index">
                <b-img left class="card-team-thumbnail" thumbnail :src="character.thumbnail.path + '.jpg'" alt="Thumbnail" />
                <div class="card-team-text"
                  v-if="character">
                  <p class="text-left text-middle">{{ character.name }}
                    <i class="fas fa-trash-alt btn-team-delete"
                      @click="removeCharacter(character)"></i>
                  </p>
                </div>
              </div>
            </b-card-group>
          </b-col>
        </b-row>
      </b-col>
    </b-row>
    <notifications/>
  </div>
</template>

<script>
import Vue from 'vue'
import BootstrapVue from 'bootstrap-vue'
import 'bootstrap/dist/css/bootstrap.css'
import 'bootstrap-vue/dist/bootstrap-vue.css'
import Notifications from 'vue-notification'
import { getCharacters } from '@/services/character'
import _ from 'lodash'

Vue.use(BootstrapVue)
Vue.use(Notifications)

export default {
  name: 'App',
  data () {
    return {
      search: '',
      characters: [],
      listCharacters: []
    }
  },
  methods: {
    addCharacter (param) {
      const character = {...param}
      const index = this.checkIndex(character)
      console.log(index);

      if (index !== -1){
        return this.$notify({
          type: 'error',
          title: 'Character Duplicate!',
          text: 'This item it\'s include'
        })
      }
      this.$notify({
        type: 'success',
        title: 'Success',
        text: 'Included successfully!'
      })
      this.listCharacters.push(character)
    },
    removeCharacter (param) {
      const character = {...param}
      const index = this.checkIndex(character)
      this.listCharacters.splice(index, 1)
      this.$notify({
        type: 'error',
        title: 'Character Duplicate!',
        text: 'This item it\'s include'
      })
    },
    checkIndex (character) {
      const index = _.findIndex(this.listCharacters, (obj) => {
        return obj.id === character.id
      })
      return index
    }
  },
  computed: {
    filterSearch: () => {
      let search = this.search
      let characters = this.characters

      if (_.isEmpty(this.search)) {
        return this.characters
      }

      return _.filter(this.characters, (character) => {
        character.name.indexOf(this.search) >= 0
      })
    }
  },
  mounted () {
    getCharacters().then((res) => {
      this.characters = res.data.data.results.slice(0, 8)
    })
  }
}
</script>

<style lang="scss">
@import 'App.scss';
</style>
