@import url('https://fonts.googleapis.com/css?family=Poppins');

$font-family-default: 'Poppins', sans-serif;
$primary-color: #ea454c;
$second-color: #ffffff;

body {
  background-image: url(assets/bg.png);
  background-size: cover;
}

#app {
  font-family: $font-family-default;
  font-weight: 700;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

.title h1{
  color: $second-color;
  font-size: 56px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
}

.border-style {
  border-color: $second-color;
}

.placeholder-search::-webkit-input-placeholder { color: $second-color; }

.title-results {
  color: $second-color;
  margin: 1em 0 0 0;
  font-size: 56px;

  font-size: 28px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.6px;
  text-align: left;
}

.card-container {
  height: 100%;
  width: 210px;
}

.card-image img {
  border-radius: 8px;
  height: 180px;
  max-height: 180px;
}

.card-text{
  margin-left: 1rem;
}

.spacing-coluns{
  padding: 0.5em;
}

.padding-container{
  margin: 65px;
}

.btn-add {
  background-color: transparent;
  color: $primary-color;
  border: 1px solid $primary-color;
  box-shadow: none;
  &:hover{
    background-color: $primary-color;
    border: 1px solid $primary-color;
    color: $second-color;
  }
}

.hero-search {
  border-radius: 2em;
  background-color: transparent;
  border-width: 2px;
  width: 620px;
  height: 60px;
  color: white;
}

.hero-search-icon{
  position: relative;
  bottom: 1.4em;
  font-size: 2em;
  left: 8.3em;
  color: white;
}

.hero-team-search {
  background-color: transparent;
  border-top: none;
  border-left: none;
  border-right: none;
  border-radius: 0px;
  font-weight: 900;
  font-size: large;
  &:focus{
    background-color: transparent;
    color: $second-color;
    border: none;
  }
}

.hero-team-container {
  position: relative;
  margin-top: 5em;
}

.row-card-team {
  margin-top: 2.2em;
}
.card-team:hover {
  transform: scale(1.2);
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.87);
}
.card-team-thumbnail {
  width: 75px;
  height: 79px;
  border: none;
  background-color: transparent;
  position: relative;
  bottom: 4px;
  right: 4px;
}

.card-team-text {
  border: 1px solid $second-color;
  height: 71px;
  background-color: $second-color;
  &:hover{
    background-color: $primary-color;
    border: none;
  }
  &:hover p {
    color: $second-color;
  }
  &:hover i {
    visibility: visible;
  }
}

.text-middle{
  position: relative;
  top: 1.3em;
  left: 0.8em;
  font-size: 20px;
  color: black;
  &:hover{
   color: $second-color !important;
  }
}

.btn-team-delete {
  position: absolute;
  right: 1.5em;
  visibility: hidden;
}
